##### Load ripple_transactions csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import os

In [4]:
# Load data
df = pd.read_csv('../data/ripple_transactions.csv')
df.head()

/var/folders/k4/_w824cfn3v12mdxqlv8kc17r0000gn/T/ipykernel_52883/2072821939.py:2: DtypeWarning: Columns (6,20,30,31,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/ripple_transactions.csv')

,LedgerSequence,CloseTime,TransactionType,Account,Fee,Sequence,AccountTxnID,Flags,LastLedgerSequence,Memos,...,AffectedNodes,DeliveredAmount,OwnerCount,SetFlag,ClearFlag,Domain,EmailHash,MessageKey,TransferRate,RegularKey
0,90970881,2024-09-24 15:56:01+00:00,Payment,r4BBoZghscZgjMS5GJj1QCEdpWKdn7iTXn,12,97520928,NaN,0.0,90970954.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90970881,2024-09-24 15:56:01+00:00,OfferCreate,rogue5HnPRSszD9CWGSUz8UGHMVwSSKF6,10,15744203,NaN,655360.0,90970882.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90970881,2024-09-24 15:56:01+00:00,OfferCreate,rBTwLga3i2gz3doX6Gva3MgEV8ZCD8jjah,20,153078251,NaN,0.0,90970883.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90970881,2024-09-24 15:56:01+00:00,Payment,r4BBoZghscZgjMS5GJj1QCEdpWKdn7iTXn,12,97520936,NaN,0.0,90970954.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90970881,2024-09-24 15:56:01+00:00,OfferCreate,rBTwLga3i2gz3doX6Gva3MgEV8ZCD8jjah,20,153078249,NaN,0.0,90970883.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df

,LedgerSequence,CloseTime,TransactionType,Account,Fee,Sequence,AccountTxnID,Flags,LastLedgerSequence,Memos,...,AffectedNodes,DeliveredAmount,OwnerCount,SetFlag,ClearFlag,Domain,EmailHash,MessageKey,TransferRate,RegularKey
0,90970881,2024-09-24 15:56:01+00:00,Payment,r4BBoZghscZgjMS5GJj1QCEdpWKdn7iTXn,12,97520928,NaN,0.0,90970954.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90970881,2024-09-24 15:56:01+00:00,OfferCreate,rogue5HnPRSszD9CWGSUz8UGHMVwSSKF6,10,15744203,NaN,655360.0,90970882.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90970881,2024-09-24 15:56:01+00:00,OfferCreate,rBTwLga3i2gz3doX6Gva3MgEV8ZCD8jjah,20,153078251,NaN,0.0,90970883.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90970881,2024-09-24 15:56:01+00:00,Payment,r4BBoZghscZgjMS5GJj1QCEdpWKdn7iTXn,12,97520936,NaN,0.0,90970954.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90970881,2024-09-24 15:56:01+00:00,OfferCreate,rBTwLga3i2gz3doX6Gva3MgEV8ZCD8jjah,20,153078249,NaN,0.0,90970883.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65195,90969886,2024-09-24 14:51:01+00:00,Payment,r4BBoZghscZgjMS5GJj1QCEdpWKdn7iTXn,12,97495520,NaN,0.0,90969959.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65196,90969886,2024-09-24 14:51:01+00:00,Payment,r4BBoZghscZgjMS5GJj1QCEdpWKdn7iTXn,12,97495524,NaN,0.0,90969959.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65197,90969886,2024-09-24 14:51:01+00:00,Payment,rLoqMgpjwGEQinYEM623za8c2nC2Uah8v7,1000,88691528,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65198,90969886,2024-09-24 14:51:01+00:00,OfferCancel,rhGbv8bgh1cw65uHvz82DaRcWzX63mvbbs,30,90571277,NaN,0.0,90969903.0,[{'Memo': {'MemoData': '68626F742D313732373138...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65199,90969886,2024-09-24 14:51:01+00:00,Payment,r4BBoZghscZgjMS5GJj1QCEdpWKdn7iTXn,12,97495522,NaN,0.0,90969959.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Check for addresses

In [7]:
# Check for rB3WNZc45gxzW31zxfXdkx8HusAhoqscPn in the data
df[df['Account'] == 'rs8ZPbYqgecRcDzQpJYAMhSxSi5htsjnza']

Empty DataFrame
Columns: [LedgerSequence, CloseTime, TransactionType, Account, Fee, Sequence, AccountTxnID, Flags, LastLedgerSequence, Memos, NetworkID, Signers, SourceTag, SigningPubKey, TicketSequence, TxnSignature, Amount, Destination, DestinationTag, InvoiceID, Paths, SendMax, DeliverMin, TakerGets, TakerPays, Expiration, OfferSequence, LimitAmount, QualityIn, QualityOut, FinishAfter, CancelAfter, Condition, Fulfillment, TransactionResult, AffectedNodes, DeliveredAmount, OwnerCount, SetFlag, ClearFlag, Domain, EmailHash, MessageKey, TransferRate, RegularKey]
Index: []

[0 rows x 45 columns]

In [8]:
# show the most frequent addresses in account column
df['Account'].value_counts().head(10)

Account
r4BBoZghscZgjMS5GJj1QCEdpWKdn7iTXn    20700
rapido5rxPmP4YkMZZEeXSHqWefxHEkqv6    10917
rogue5HnPRSszD9CWGSUz8UGHMVwSSKF6     10453
rBTwLga3i2gz3doX6Gva3MgEV8ZCD8jjah     4270
r3rhWeE31Jt5sWmi4QiGLMZnY3ENgqw96W     1450
rh3VLyj1GbQjX7eA15BwUagEhSrPHmLkSR     1100
rQ3fNyLjbvcDaPNS4EAJY8aT9zR3uGk17c     1096
r4dgY6Mzob3NVq8CFYdEiPnXKboRScsXRu     1076
r4AZpDKVoBxVcYUJCWMcqZzyWsHTteC4ZE     1074
rhGbv8bgh1cw65uHvz82DaRcWzX63mvbbs      947
Name: count, dtype: int64

In [11]:
# load the copy of XRPSCAN_Data_valuesonly-2.xlsx
df2 = pd.read_excel('../data/Copy of XRPSCAN_Data_valuesonly-2.xlsx')
df2.head()

,Rang,Account,Name,Balance (XRP),In Escrow (XRP),%
0,1,rB3WNZc45gxzW31zxfXdkx8HusAhoqscPn,Ripple (11),222 XRP,"5,000,000,000 XRP",5.001%
1,2,r9UUEXn3cx2seufBkDa8F86usfjWM6HiYp,Ripple (10),220 XRP,"5,000,000,000 XRP",5.001%
2,3,r9NpyVfLfUG8hatuCCHKzosyDtKnBdsEN3,Ripple (9),204 XRP,"5,000,000,000 XRP",5.001%
3,4,rMhkqz3DeU7GUUJKGZofusbrTwZe6bDyb1,Ripple (28),202 XRP,"5,000,000,000 XRP",5.001%
4,5,rGKHDyj4L6pc7DzRB6LWCR4YfZfzXj2Bdh,Ripple (26),201 XRP,"5,000,000,000 XRP",5.001%

In [24]:
# show the addresses from df2 that are in df['Account'] or df['Destination']
common_addresses = df2[df2['Account'].isin(df['Account']) | df2['Account'].isin(df['Destination'])]

,Rang,Account,Name,Balance (XRP),In Escrow (XRP),%
11,12,rDxJNbV23mu9xsWoQHoBqZQvc77YcbJXwb,UPbit (22),"1,565,482,229 XRP",NaN,1.566%
14,15,rsX8cp4aj9grKVD9V1K2ouUBXgYsjgUtBL,Uphold (8),"1,052,041,044 XRP",NaN,1.052%
17,18,rw7m3CtVHwGSdhFjV4MyJozmZJv3DYQnsA,bitbank (2),"631,235,599 XRP",500 XRP,0.631%
44,45,rJmXYcKCGJSayp4sAdp6Eo4CdSFtDVv7WG,Crypto.com (3),"318,492,525 XRP",NaN,0.319%
50,51,rstryhbE73v18SnJ3R8j1FSNYFWCSdELEd,NaN,"259,977,994 XRP",NaN,0.260%
...,...,...,...,...,...,...
8945,8946,raBSxYLSmuxTieTFDYNjkoWpuMoVuk213Y,Bitazza (2),"273,551 XRP",NaN,0.000%
9094,9095,rLHtvB1kZimYJsDCqCX4iQxRtSAqqFtrA7,AltCoinTrader (1),"269,367 XRP",NaN,0.000%
9160,9161,rMWwdmnrD8NFgdxv5T4sMKDqsshrhYVqLd,NaN,"267,059 XRP",200 XRP,0.000%
9713,9714,rpY7bZBkA98P8zds5LdBktAKj9ifekPdkE,bitFlyer (3),"252,637 XRP",NaN,0.000%
9867,9868,rD6CRXKStVfQTXztBPCUadTHxCAock82UM,NaN,"250,313 XRP",NaN,0.000%

In [21]:
common_addresses

,Rang,Account,Name,Balance (XRP),In Escrow (XRP),%
11,12,rDxJNbV23mu9xsWoQHoBqZQvc77YcbJXwb,UPbit (22),"1,565,482,229 XRP",NaN,1.566%
14,15,rsX8cp4aj9grKVD9V1K2ouUBXgYsjgUtBL,Uphold (8),"1,052,041,044 XRP",NaN,1.052%
17,18,rw7m3CtVHwGSdhFjV4MyJozmZJv3DYQnsA,bitbank (2),"631,235,599 XRP",500 XRP,0.631%
44,45,rJmXYcKCGJSayp4sAdp6Eo4CdSFtDVv7WG,Crypto.com (3),"318,492,525 XRP",NaN,0.319%
50,51,rstryhbE73v18SnJ3R8j1FSNYFWCSdELEd,NaN,"259,977,994 XRP",NaN,0.260%
...,...,...,...,...,...,...
8945,8946,raBSxYLSmuxTieTFDYNjkoWpuMoVuk213Y,Bitazza (2),"273,551 XRP",NaN,0.000%
9094,9095,rLHtvB1kZimYJsDCqCX4iQxRtSAqqFtrA7,AltCoinTrader (1),"269,367 XRP",NaN,0.000%
9160,9161,rMWwdmnrD8NFgdxv5T4sMKDqsshrhYVqLd,NaN,"267,059 XRP",200 XRP,0.000%
9713,9714,rpY7bZBkA98P8zds5LdBktAKj9ifekPdkE,bitFlyer (3),"252,637 XRP",NaN,0.000%
9867,9868,rD6CRXKStVfQTXztBPCUadTHxCAock82UM,NaN,"250,313 XRP",NaN,0.000%

In [26]:
# show all transactions of df that have the common addresses
known_address_trans = df[df['Account'].isin(common_addresses['Account']) | df['Destination'].isin(common_addresses['Account'])]
known_address_trans

,LedgerSequence,CloseTime,TransactionType,Account,Fee,Sequence,AccountTxnID,Flags,LastLedgerSequence,Memos,...,AffectedNodes,DeliveredAmount,OwnerCount,SetFlag,ClearFlag,Domain,EmailHash,MessageKey,TransferRate,RegularKey
12,90970881,2024-09-24 15:56:01+00:00,Payment,rKLJgTckWD9uz9Uh4mS2CWTKJVGTePP44c,15,90367079,NaN,2.147484e+09,90973960.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,90970879,2024-09-24 15:55:52+00:00,OfferCancel,r3rhWeE31Jt5sWmi4QiGLMZnY3ENgqw96W,10,105999244,NaN,0.000000e+00,90970882.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,90970879,2024-09-24 15:55:52+00:00,Payment,r4BBoZghscZgjMS5GJj1QCEdpWKdn7iTXn,12,97520880,NaN,0.000000e+00,90970952.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,90970879,2024-09-24 15:55:52+00:00,OfferCancel,r3rhWeE31Jt5sWmi4QiGLMZnY3ENgqw96W,10,105999243,NaN,0.000000e+00,90970882.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,90970879,2024-09-24 15:55:52+00:00,Payment,rnDGxzUM2snx58Bvyn72xhJKqvkDxo2tQm,100,70490522,NaN,2.147484e+09,90980865.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65173,90969886,2024-09-24 14:51:01+00:00,Payment,rfQ9EcLkU6WnNmkS3EwUkFeXeN47Rk8Cvi,3000,85403843,NaN,0.000000e+00,90969899.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65174,90969886,2024-09-24 14:51:01+00:00,Payment,r4BBoZghscZgjMS5GJj1QCEdpWKdn7iTXn,12,97495529,NaN,0.000000e+00,90969959.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65176,90969886,2024-09-24 14:51:01+00:00,Payment,rLHzPsX6oXkzU2qL12kHCH8G8cnZv1rBJh,6000,1870169,NaN,2.147484e+09,90969890.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65185,90969886,2024-09-24 14:51:01+00:00,Payment,r4BBoZghscZgjMS5GJj1QCEdpWKdn7iTXn,12,97495540,NaN,0.000000e+00,90969959.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65197,90969886,2024-09-24 14:51:01+00:00,Payment,rLoqMgpjwGEQinYEM623za8c2nC2Uah8v7,1000,88691528,NaN,0.000000e+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# show the most frequent addresses in account column of known_address_trans
known_address_trans['TransactionType'].value_counts().head(10)

TransactionType
Payment          5103
OfferCancel       733
OfferCreate       717
EscrowCreate        2
AccountDelete       1
Name: count, dtype: int64

In [30]:
# average amount of XRP sent by known addresses
(known_address_trans['Amount'].median())

24129.0

In [31]:
# median of amount df
(df['Amount'].median())

1584.5

In [35]:
# biggest transaction in df
df[['Amount', 'Destination', 'Account', 'TransactionType']].sort_values(by='Amount', ascending=False).head(10)

,Amount,Destination,Account,TransactionType
37713,1.000000e+17,raxcmNMenLH5bwYjhKkJRXpBzvh5H3b99H,raxcmNMenLH5bwYjhKkJRXpBzvh5H3b99H,Payment
33329,1.000000e+17,r9pe9FD8PQStVG571TFj6mehZW7QjS9qNb,r9pe9FD8PQStVG571TFj6mehZW7QjS9qNb,Payment
43951,1.000000e+17,rUkSpdqFeFDBWNK16P8i2cqqH5iZgb9VKv,rUkSpdqFeFDBWNK16P8i2cqqH5iZgb9VKv,Payment
44772,6.976501e+13,rwgUxtxjJ85ns8sCaeDGnS8vTMa92xSz7,raV2yNEbPsr7hSr8ojnu8dYZG8ELw65HVH,Payment
15384,3.793714e+12,rBtttd61FExHC68vsZ8dqmS3DfjFEceA1A,rDAE53VfMvftPB4ogpWGWvzkQxfht6JPxr,Payment
62959,2.588059e+12,r4sRyacXpbh4HbagmgfoQq8Q3j8ZJzbZ1J,rfNCg2CEJ4Gub7rAQcDNuVQ2nB6qUgb1qV,Payment
12021,2.140153e+12,rHPGFxtgJCd2gAvUvvhyZ2H63CASVjcJ2u,rBtttd61FExHC68vsZ8dqmS3DfjFEceA1A,Payment
64549,2.045061e+12,rD65okgyRLdBUGWsYWpYfmkygVC7zZxcKW,rDT9vb8Jd9USHfWFh5nEhpwfJD3DbjXn88,Payment
39829,1.387904e+12,rDAE53VfMvftPB4ogpWGWvzkQxfht6JPxr,rNxp4h8apvRis6mJf9Sh8C6iRxfrDWN7AV,Payment
28390,1.219161e+12,rwpTh9DDa52XkM9nTKp2QrJuCGV5d1mQVP,rw2ciyaNshpHe7bCHo4bRWq6pqqynnWKQg,Payment

In [36]:
# show the df that are exchanges
df

,LedgerSequence,CloseTime,TransactionType,Account,Fee,Sequence,AccountTxnID,Flags,LastLedgerSequence,Memos,...,AffectedNodes,DeliveredAmount,OwnerCount,SetFlag,ClearFlag,Domain,EmailHash,MessageKey,TransferRate,RegularKey
0,90970881,2024-09-24 15:56:01+00:00,Payment,r4BBoZghscZgjMS5GJj1QCEdpWKdn7iTXn,12,97520928,NaN,0.0,90970954.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90970881,2024-09-24 15:56:01+00:00,OfferCreate,rogue5HnPRSszD9CWGSUz8UGHMVwSSKF6,10,15744203,NaN,655360.0,90970882.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90970881,2024-09-24 15:56:01+00:00,OfferCreate,rBTwLga3i2gz3doX6Gva3MgEV8ZCD8jjah,20,153078251,NaN,0.0,90970883.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90970881,2024-09-24 15:56:01+00:00,Payment,r4BBoZghscZgjMS5GJj1QCEdpWKdn7iTXn,12,97520936,NaN,0.0,90970954.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90970881,2024-09-24 15:56:01+00:00,OfferCreate,rBTwLga3i2gz3doX6Gva3MgEV8ZCD8jjah,20,153078249,NaN,0.0,90970883.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65195,90969886,2024-09-24 14:51:01+00:00,Payment,r4BBoZghscZgjMS5GJj1QCEdpWKdn7iTXn,12,97495520,NaN,0.0,90969959.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65196,90969886,2024-09-24 14:51:01+00:00,Payment,r4BBoZghscZgjMS5GJj1QCEdpWKdn7iTXn,12,97495524,NaN,0.0,90969959.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65197,90969886,2024-09-24 14:51:01+00:00,Payment,rLoqMgpjwGEQinYEM623za8c2nC2Uah8v7,1000,88691528,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65198,90969886,2024-09-24 14:51:01+00:00,OfferCancel,rhGbv8bgh1cw65uHvz82DaRcWzX63mvbbs,30,90571277,NaN,0.0,90969903.0,[{'Memo': {'MemoData': '68626F742D313732373138...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65199,90969886,2024-09-24 14:51:01+00:00,Payment,r4BBoZghscZgjMS5GJj1QCEdpWKdn7iTXn,12,97495522,NaN,0.0,90969959.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN